@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body,
#root {
	height: 100%;
}
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	background-image: radial-gradient(
			circle at 29% 55%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 4%,
			transparent 4%,
			transparent 44%,
			transparent 44%,
			transparent 100%
		),
		radial-gradient(
			circle at 85% 89%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 51%,
			transparent 51%,
			transparent 52%,
			transparent 52%,
			transparent 100%
		),
		radial-gradient(
			circle at 6% 90%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 53%,
			transparent 53%,
			transparent 64%,
			transparent 64%,
			transparent 100%
		),
		radial-gradient(
			circle at 35% 75%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 6%,
			transparent 6%,
			transparent 98%,
			transparent 98%,
			transparent 100%
		),
		radial-gradient(
			circle at 56% 75%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 16%,
			transparent 16%,
			transparent 23%,
			transparent 23%,
			transparent 100%
		),
		radial-gradient(
			circle at 42% 0%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 3%,
			transparent 3%,
			transparent 26%,
			transparent 26%,
			transparent 100%
		),
		radial-gradient(
			circle at 29% 28%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 51%,
			transparent 51%,
			transparent 75%,
			transparent 75%,
			transparent 100%
		),
		radial-gradient(
			circle at 77% 21%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 35%,
			transparent 35%,
			transparent 55%,
			transparent 55%,
			transparent 100%
		),
		radial-gradient(
			circle at 65% 91%,
			hsla(329, 0%, 99%, 0.05) 0%,
			hsla(329, 0%, 99%, 0.05) 46%,
			transparent 46%,
			transparent 76%,
			transparent 76%,
			transparent 100%
		),
		linear-gradient(45deg, rgb(83, 91, 235), rgb(6, 33, 110));
	/* max-width: 475px;
	height: 812px;
	margin: 0 auto; */
}

img {
	width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
}

button {
	background: none;
	cursor: pointer;
}

button,
a {
	color: inherit;
}

select,
button,
textarea {
	font-family: inherit;
}

input,
button,
textarea {
	border: none;
}

textarea:focus {
	outline: none;
}

ul {
	list-style: none;
}

input:focus {
	outline: none;
}
.ul > li {
	place-self: center;
}
.line {
	align-items: end;
	display: flex;
}
.light-container:nth-child(2) {
	background-color: #002d67;
	color: white;
	padding: 10px;
}
.light-container:nth-child(1) {
	font-size: 12px;
	padding: 10px;
}
.light-container:nth-child(3) {
	font-size: 8px;
	padding: 10px;
}
.lights {
	margin: 0 auto;
}
.lone {
	color: yellow;
}
.footer {
	height: calc(100% / 13);
	background-color: white;
}

/* styling til input line */
.line {
	-webkit-appearance: none;
	width: 100%;
	height: 25px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.line:hover {
	opacity: 1;
}

.line::-webkit-line-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}

.line::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #04aa6d;
	cursor: pointer;
}
.circle > button {
	border-radius: 50%;
	width: 36px;
	height: 36px;
}
.scenes {
	display: flex;
}
.scenes:nth-child(1) {
	background-color: #ff9b9b;
}
.scenes:nth-child(2) {
	background-color: #de94eb;
}
.scenes:nth-child(3) {
	background-color: #94caeb;
}
.scenes:nth-child(4) {
	background-color: #94eb9e;
}
.power-button.off img {
	filter: grayscale(100%);
}
